div > span > a {
  color: white;
}

div > span > a:hover {
  color: lightskyblue;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.selectable-card:hover {
  background-color: lightgray;
}

.float {
  position: fixed;
  width: 4rem;
  height: 4rem;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50px;
  text-align: center;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 3px #999;
  font-size: 2rem;
}

ul {
  padding-left: 1.2rem;
}

footer {
  text-align: center;
  height: 7rem;
  padding: 1rem;
}

.contact-div {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.contact-div > span {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}